
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito|Fredericka+the+Great|Homemade+Apple');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
// homepage
.store-front {
    position: relative;

    .chalk
    {
        font-family: 'Homemade Apple', cursive;
    }

    .chalk-fancy {
        font-family: 'Fredericka the Great', cursive;
    }

    .chalkboard {
        background-color: $gray-dark;
        color: $white;
        border: 10px solid $white;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);

        h1 {
            font-size: 90px;
        }

        .list-item {
            font-size: 2em;
            color: $white;
            text-decoration: none;
        }

    }

    .dude {
        position: relative;

        .speech-bubble {
            position: absolute;
            bottom: 80%;
            right: 20vw;
            width: 40vw;
            background-color: $white;
            box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px ;
            padding: 1.5em 1em;
            border-radius: 0.5em;

            &:after {
                content: "";
                position: absolute;
                box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px ;
                -moz-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                bottom: -10px;
                right: 50px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent $white $white transparent;
            }
        }
        .face {
            font-size: 30vw;
            line-height: 1.25em;
        }
    }
}
.health-bar {
    width: 100%;
    height: 50px;
    background-color: $gray-400;
    position: relative;

    .progress {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: $gray-900;
        border-radius: 0;
        overflow: visible;
        transition: width 100ms;

        span {
            color: $white;
            float: right;
            display: inline-block;
            position: absolute;
            right: 0;
            font-size: 2em;
            padding: 0.35em 0.75em;

            transition: transform 0.75s, color 0.75s;

            &.aligned-left {
                transform: translateX(100%);
                color: $black;
            }
        }
    }
}

.in-front { z-index: 2 }

@include media-breakpoint-up(lg) {
    div.store-front .dude .face {
        font-size: 20em;
    }
}
@include media-breakpoint-down(md) {
    div.store-front div.dude {
        margin-top: 5em;
    }
    div.store-front div.dude .speech-bubble {
        left: 0;
        width: 100%;
    }
}
